%h2 Rock Palace Calendar
%hr

%table
  %thead
    %th{:class => "event-performer", :id => "message"} Performer
    %th When
    %th Content
  %tbody
    - @events.each do |event|
      %tr
        %td= link_to event.performer, event
        %td= event.when.strftime("%m/%d/%Y at %I:%M%p")
        %td= event.content
%hr
%nav.will-paginate
  %h5 Navigate Events
  -if @events.count <= 5
    %h5= link_to will_paginate @events
%hr

