// Push footer to bottom
html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

nav.bg-gray {
  background-color: #c1c1c1;
}

.footer {
  background-color: #c1c1c1;
}

.nav-will-paginate {
  background-color: #e2e2e2;
  margin-top: 2rem;

  a {
    padding: 0 .5rem;
  }
}

td {
  padding: .5rem .5rem .5rem 0;
}
