// Push footer to bottom
html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 4rem; /* this needs to be bigger than footer height*/
}

nav.bg-gray {
  background-color: #c1c1c1;
}

.footer {
  background-color: #c1c1c1;
}

nav.will-paginate {
  background-color: #e2e2e2;
  margin-top: 2rem;

  a {
    padding: 0 0.5rem;
  }
}

.event-performer {
  width: 20rem;
}

td {
  padding: 0 15px 5px 0;
}

.submit-button {
  background-color: rgb(81, 149, 172);
  border: 1px solid blue;
  color: white;
}

.success {
  color: green;
  font-weight: bold;
}

.alert {
  color: red;
  font-weight: bold;
}

.navlinks {
  margin: auto;
  width: 80%;
  a {
    color: rgb(6, 51, 23);
    font-size: medium;
    font-weight: bold;
    padding-right: 2rem;
  }

  a:hover {
    background-color: rgb(117, 206, 154);
  }
}
